.rule-formset {
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 10px;
}

.rule-formset p {
    float: left;
    margin-right: 10px;
}

.rule-formset select {
    width: 200px;
}

.rule-formset-add {
    float: right;
}
