.rule-formset {
    border: solid 1px black;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.rule-formset p {
    float: left;
    margin-right: 10px;
}

.rule-formset a {
    top: 10px;
}

.rule-formset select {
    width: 200px;
    display: inline;
}

.rule-formset p:nth-child(3) select  {
    width: 100px;
}

.rule-formset-add {
    float: right;
}
