{% load smartmin i18n %}

<fieldset>
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <br>
    {{ alert_formset.management_form }}

    {% for alert_form in alert_formset %}
        <div class="rule-formset">
            {{ alert_form.as_p }}
            {% if alert_form.instance.id and alert_form.instance.has_occurrences %}
                <a href="{% url 'occurrences-by-alert' alert_form.instance.id %}">{% trans "View occurrences" %}</a>
            {% endif %}
        </div>
    {% endfor %}

    {% if alert_formset.non_form_errors %}
        {% for error in alert_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
</fieldset>
