{% extends "smartmin/update.html" %}
{% load static %}

{% block fields %}
    {% include "trackers/tracker_fields.html" %}
{% endblock %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/tracker.css' %}" type="text/css"/>
{% endblock %}

{% block extra-script %}
    {{ block.super }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/trackers.js' %}"></script>
    <script>
        formsetFor('group');
    </script>
{% endblock %}
